@page "/roomtable"
@inject RoomService RoomService
@inject NavigationManager NavigationManager

@foreach (var floor in Rooms.Select(r => r.FloorNumber).Distinct().Order())
{
    <h3>Floor @floor</h3>
    <table class="table table-striped">
        <thead>
        <tr>
            <th>Availability</th>
            <th>Room Code</th>
            <th>Room Type</th>
            <th>Room Name</th>
            <th>Actions</th>
        </tr>
        </thead>
        <tbody>
        @foreach (var room in Rooms.Where(r => r.FloorNumber == floor).OrderBy(r => r.Wing).ThenBy(r => r.RoomNumber))
        {
            <tr>
                <td>@(room.IsAvailable(DateTime.Today, DateTime.Today.AddDays(1)) ? "Available" : "Occupied")</td>
                <td>@room.RoomCode</td>
                <td>@room.Type</td>
                <td>@room.Name</td>
                <td>
                    <button @onclick="() => HandleReservation(room)">Reserve Workspace</button>
                </td>
            </tr>
        }
        </tbody>
    </table>
}

@code {
    [SupplyParameterFromForm] public Room? Room { get; set; }

    private List<Room> Rooms { get; set; } = [];

    protected override async Task OnInitializedAsync()
    {
        Rooms = (await RoomService.GetAllRoomsAsync()).ToList();
    }
    
    private void SelectRoom(Room room) => Room = room;

    private async Task HandleSubmit()
    {
        if (Room == null) return;
        if (await RoomService.UpdateRoomAsync(Room) == null)
            await RoomService.CreateRoomAsync(Room);
        await OnInitializedAsync();
    }

    private async Task HandleReservation(Room room)
    {
        if (room.Reservations.Count < room.MaxReservations)
        {
            NavigationManager.NavigateTo($"reservation/?roomId={room.Id}");
        }
    }
}
