@page "/roomtable"
@using Blazor.Components.Account
@inject RoomService RoomService
@inject NavigationManager NavigationManager

<button @onclick="() => Room = new Room()">New Room</button>
@if (Room is not null)
{
    <EditForm Model="Room" OnValidSubmit="HandleSubmit">
        <label>
            FloorNumber:
            <InputSelect @bind-Value="Room!.FloorNumber">
                <option value="1">1</option>
                <option value="2">2</option>
                <option value="3">3</option>
            </InputSelect>
        </label>
        <label>
            Wing:
            <InputSelect @bind-Value="Room!.Wing">
                <option>Select an option</option>
                <option value="A">A</option>
                <option value="B">B</option>
                <option value="C">C</option>
            </InputSelect>
        </label>
        <label>
            Room number:
            <InputNumber @bind-Value="Room!.RoomNumber"/>
        </label>
        <label>
            Name:
            <InputText @bind-Value="Room!.Name"/>
        </label>
        <label>
            Type:
            <InputText @bind-Value="Room!.Type"/>
        </label>
        <label>
            Max Workspaces:
            <input type="number" min="0" @bind="Room!.MaxWorkspaces"/>
        </label>
        <label>
            Max Reservations:
            <input type="number" min="0" @bind="Room!.MaxReservations"/>
        </label>
        <button type="submit">Save</button>
        <button @onclick="() => Room = null">Cancel</button>
    </EditForm>
}
@foreach (var floor in Rooms.Select(r => r.FloorNumber).Distinct().Order())
{
    <h3>Floor @floor</h3>
    <table class="table table-striped">
        <thead>
        <tr>
            <th>Availability</th>
            <th>Room Code</th>
            <th>Room Type</th>
            <th>Room Name</th>
            <th>Actions</th>
        </tr>
        </thead>
        <tbody>
        @foreach (var room in Rooms.Where(r => r.FloorNumber == floor))
        {
            <tr @onclick:preventDefault @onclick="() => SelectRoom(room)">
                <td>@(room.IsAvailable(DateTime.Today, DateTime.Today.AddDays(1)) ? "Available" : "Occupied")</td>
                <td>@room.RoomCode</td>
                <td>@room.Type</td>
                <td>@room.Name</td>
                <td>
                    <button @onclick="() => HandleReservation(room)">Reserve Workspace</button>
                </td>
            </tr>
        }
        </tbody>
    </table>
}

@code {
    [SupplyParameterFromForm] public Room? Room { get; set; }

    private List<Room> Rooms { get; set; } = [];

    protected override async Task OnInitializedAsync()
    {
        Rooms = (await RoomService.GetAllRoomsAsync()).ToList();
    }
    
    private void SelectRoom(Room room) => Room = room;

    private async Task HandleSubmit()
    {
        if (Room == null) return;
        if (await RoomService.UpdateRoomAsync(Room) == null)
            await RoomService.CreateRoomAsync(Room);
        await OnInitializedAsync();
    }

    private async Task HandleReservation(Room room)
    {
        if (room.Reservations.Count < room.MaxReservations)
        {
            NavigationManager.NavigateTo($"reservation/?room={room.Id}");
        }
    }
}
