@page "/roomtable"
@using Microsoft.AspNetCore.Components.Authorization
@using Microsoft.AspNetCore.Identity
@inject AuthenticationStateProvider AuthenticationStateProvider
@inject RoomService RoomService
@inject ReservationService ReservationService
@inject NavigationManager NavigationManager
@inject UserManager<User> UserManager

<!-- Loop through each distinct floor and display the rooms in a table -->
@foreach (var floor in BookableList.Select(r => r.FloorNumber).Distinct().Order())
{
    <h3>Floor @floor</h3>
    <table class="table table-striped">
        <thead>
        <tr>
            <th>Availability</th>
            <th>Room Code</th>
            <th>Room Type</th>
            <th>Room Name</th>
            @if (!Viewing)
            {
                <th>Actions</th>
            }
        </tr>
        </thead>
        <tbody>
        @foreach (var bookable in BookableList.Where(r => r.FloorNumber == floor).OrderBy(r => r.Wing).ThenBy(r => r.RoomNumber))
        {
            <tr>
                <td>@(IsRoomAvailable(bookable) ? "Available" : "Occupied")</td>

                @switch (bookable)
                {
                    case Room room:
                        <td>@room.RoomCode</td>
                        <td>@room.Type</td>
                        <td>@room.Name</td>
                        break;
                    case Workspace workspace:
                        <td></td>
                        <td>Workspace</td>
                        <td>@workspace.DeskName</td>
                        break;
                }

                @if (!Viewing)
                {
                    <td>
                        <button @onclick="() => HandleReservation(bookable)">Reserve Workspace</button>
                    </td>
                }
            </tr>
        }
        </tbody>
    </table>
}

@code {
    [SupplyParameterFromQuery] public string localStartDateTimeString { get; set; } = string.Empty;
    [SupplyParameterFromQuery] public string localEndDateTimeString { get; set; } = string.Empty;

    private AuthenticationState _authenticationState;
    private List<IBookable> BookableList { get; set; } = new();
    private List<Reservation> Reservations { get; set; } = new();
    private bool Viewing { get; set; }

    protected override async Task OnInitializedAsync()
    {
        BookableList = (await RoomService.GetAllRoomsAsync()).Cast<IBookable>().ToList();
        Reservations = (await ReservationService.GetAllReservationsAsync()).ToList();
        _authenticationState = await AuthenticationStateProvider.GetAuthenticationStateAsync();
        Viewing = string.IsNullOrEmpty(localStartDateTimeString) && string.IsNullOrEmpty(localEndDateTimeString);
    }

    private bool IsRoomAvailable(IBookable bookable)
    {
        if (!DateTime.TryParse(localStartDateTimeString, out var localStartDateTime) ||
            !DateTime.TryParse(localEndDateTimeString, out var localEndDateTime))
        {
            return false;
        }

        return Reservations.Where(r => r.RoomId == bookable.Id || r.WorkspaceId == bookable.Id).All(
            reservation => localStartDateTime >= reservation.EndDate
                           || localEndDateTime <= reservation.StartDate);
    }

    private async Task HandleReservation(IBookable bookable)
    {
        if (!DateTime.TryParse(localStartDateTimeString, out var localStartDateTime) ||
            !DateTime.TryParse(localEndDateTimeString, out var localEndDateTime))
        {
            // Handle invalid date input (optional)
            return;
        }

        var user = await UserManager.FindByNameAsync(_authenticationState.User.Identity?.Name);
        if (user == null) return;

        var reservation = new Reservation
        {
            UserId = Guid.Parse(user.Id).ToString(),
            Bookable = bookable,
            StartDate = TimeZoneInfo.ConvertTimeToUtc(localStartDateTime),
            EndDate = TimeZoneInfo.ConvertTimeToUtc(localEndDateTime)
        };

        await ReservationService.CreateReservationAsync(reservation);
        
        var index = BookableList.FindIndex(b => b.Id == bookable.Id);
        if (index != -1)
        {
            BookableList[index] = bookable;
        }
        
        NavigationManager.NavigateTo("");
    }

}