@page "/reservation"
@using Blazor.Data
@inject NavigationManager NavigationManager

<PageTitle>Reservation</PageTitle>

@if (!string.IsNullOrEmpty(ErrorMessage))
{
    <div class="alert alert-danger">@ErrorMessage</div>
}

<EditForm Model="Reservation" OnValidSubmit="HandleSubmit">
    <div class="mb-2 row g-3 align-items-center">
        <div class="col-auto">
            <label class="col-form-label">Date:</label>
        </div>
        <div class="col-auto">
            <select class="form-select" @onchange="UpdateDate">
                @for (var i = 0; i < 14; i++)
                {
                    var currentDay = DateTime.Today.AddDays(i);
                    <option value="@(currentDay.ToString("yyyy-MM-dd"))" selected="@(currentDay == SelectedDate)">@(currentDay.ToString("dd/MM/yyyy"))</option>
                }
            </select>
        </div>
    </div>
    <div class="mb-2 row g-3 align-items-center">
        <div class="col-auto">
            <label class="col-form-label">Start Time:</label>
        </div>
        <div class="col-auto">
            H
        </div>
        <div class="col-auto">
            <select @onchange="UpdateStartHour" class="form-select">
                @foreach (var hour in StartHours)
                {
                    <option value="@hour" selected="@(hour == StartHour)">@hour</option>
                }
            </select>
        </div>
        <div class="col-auto">
            Min
        </div>
        <div class="col-auto">
            <select @onchange="UpdateStartMinute" class="form-select">
                @foreach (var minute in StartMinutes)
                {
                    <option value="@minute" selected="@(minute == StartMinute)">@minute</option>
                }
            </select>
        </div>
    </div>
    <div class="mb-2 row g-3 align-items-center">
        <div class="col-auto">
            <label class="col-form-label">End Time:</label>
        </div>
        <div class="col-auto">
            H
        </div>
        <div class="col-auto">
            <select @onchange="UpdateEndHour" class="form-select col-auto">
                @foreach (var hour in EndHours)
                {
                    <option value="@hour" selected="@(hour == EndHour)">@hour</option>
                }
            </select>
        </div>
        <div class="col-auto">
            Min
        </div>
        <div class="col-auto">
            <select @onchange="UpdateEndMinute" class="form-select">
                @foreach (var minute in EndMinutes)
                {
                    <option value="@minute" selected="@(minute == EndMinute)">@minute</option>
                }
            </select>
        </div>
    </div>
    <div class="mb-2 row g-3 align-items-center">
        <div class="col-auto">
            <button type="submit" class="btn btn-success">Save</button>
        </div>
        <div class="col-auto">
            <button type="button" class="btn btn-outline-secondary" @onclick="() => HandleCancel()">Cancel</button>
        </div>
    </div>
</EditForm>

@code {
    [SupplyParameterFromForm] public Reservation? Reservation { get; set; }
    private DateTime SelectedDate = DateTime.Today;
    private int StartHour;
    private int StartMinute;
    private int EndHour;
    private int EndMinute;
    private string ErrorMessage = string.Empty;

    private List<int> StartHours = new();
    private List<int> StartMinutes = new() { 0, 30 };
    private List<int> EndHours = new();
    private List<int> EndMinutes = new() { 0, 30 };

    protected override async Task OnInitializedAsync()
    {
        Reservation = new Reservation();
        StartHour = DateTime.Now.Hour;
        StartMinute = DateTime.Now.Minute >= 30 ? 30 : 0;
        UpdateTimeOptions();
        UpdateEndTimeOptions();
    }

    private void UpdateDate(ChangeEventArgs e)
    {
        SelectedDate = DateTime.Parse(e.Value.ToString());
        UpdateTimeOptions();
    }

    private void UpdateStartHour(ChangeEventArgs e)
    {
        StartHour = int.Parse(e.Value.ToString());
        UpdateEndTimeOptions();
    }

    private void UpdateStartMinute(ChangeEventArgs e)
    {
        StartMinute = int.Parse(e.Value.ToString());
        UpdateEndTimeOptions();
    }

    private void UpdateEndHour(ChangeEventArgs e)
    {
        EndHour = int.Parse(e.Value.ToString());
        UpdateEndTimeOptions();
    }

    private void UpdateEndMinute(ChangeEventArgs e)
    {
        EndMinute = int.Parse(e.Value.ToString());
    }

    private void UpdateTimeOptions()
    {
        StartHours.Clear();
        EndHours.Clear();
        var now = DateTime.Now;

        if (SelectedDate == DateTime.Today)
        {
            for (int hour = now.Hour; hour < 24; hour++)
            {
                StartHours.Add(hour);
            }

            StartMinutes = new List<int> { 0, 30 };
        }
        else
        {
            StartHours.AddRange(Enumerable.Range(0, 24));
            StartMinutes = new List<int> { 0, 30 };
        }

        UpdateEndTimeOptions();
    }

    private void UpdateEndTimeOptions()
    {
        EndHours.Clear();
        for (int hour = StartHour; hour < 24; hour++)
        {
            EndHours.Add(hour);
        }

        if (StartHour == EndHour)
        {
            if (StartMinute == 0)
            {
                EndMinutes = new List<int> { 30 };
            }
            else
            {
                EndMinutes = new List<int> { 0, 30 };
            }
        }
        else
        {
            EndMinutes = new List<int> { 0, 30 };
        }

        if (StartMinute == 30 && EndHours.Count > 1)
        {
            EndHours.RemoveAt(0);
        }
    }

    private void HandleCancel()
    {
        NavigationManager.NavigateTo("");
    }
    private async Task HandleSubmit()
    {
        if (Reservation == null) return;

        var localStartDateTime = new DateTime(SelectedDate.Year, SelectedDate.Month, SelectedDate.Day, StartHour, StartMinute, 0);
        var localEndDateTime = new DateTime(SelectedDate.Year, SelectedDate.Month, SelectedDate.Day, EndHour, EndMinute, 0);

        // Check if the start time is in the future
        if (localStartDateTime <= DateTime.Now)
        {
            ErrorMessage = "The start time must be in the future.";
            return;
        }

        // Check if the end time is after the start time
        if (localEndDateTime <= localStartDateTime)
        {
            ErrorMessage = "The end time must be after the start time.";
            return;
        }
        
        NavigationManager.NavigateTo($"/Rooms?localStartDateTimeString={localStartDateTime}&localEndDateTimeString={localEndDateTime}");
    }
}
